# Those files are untracted
# Local caches for the runs
pyBEL1D/utilities/__pycache__/
pyBEL1D/__pycache__/
__pycache__/
# Research folders
Arsalan/
testingRejection/
testingNbModels/
testingInitModelsNoNoiseAdded/
testingInitModels/
research/
BenchmarkFigs/
IPR_Results_MRS2021/
MirandolaFigs/
MRS2021Figs/
Analysis.py
TestFlo.py
DatasetTest.txt
Testings.py
# Files extensions not needed
*.ipynb
*.perf
*.npz
*.pdf
*.vscode
*.datas
*.models
*.postbel
*.prebel
*.npy
*.pyc
*.png
# Files to keep anyway:
!SEG2020_Bench.npy
!DREAM_MASW.npy