# Those files are untracted
pyBEL1D/utilities/__pycache__/
pyBEL1D/__pycache__/
Arsalan/
*.ipynb
*.perf
*.npz
*.pdf
*.vscode
__pycache__/
*.datas
*.models
*.postbel
*.prebel
*.npy
!SEG2020_Bench.npy
*.png
Testings*
!.research/*